.logo{
    text-align: center; 
    transform: translateY(-50%);
   
 
  }
    .form-group{    
        width: 400px;   
        padding: 0 50px;
        h2{
            text-align: center;
        }
        .form-control{
            display: flex;
            flex-direction: column;
            div{
                position: relative;
                width: 100%;
                input{
               
              
                    width: 100%;
                    border-radius: 8px;
                  padding: 10px 12px;
                  border:$border;
                  outline: none;
                  color: $color-gray-light-2;
                    &.error{
                        border:$border-error;
                    }
                  
                }
                .eye-icon{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $color-gray-light-2;
                    cursor: pointer;
                 }
            }
            label{
                color: $color-gray-light-2;
                font-size: $fs-3;
                margin: 10px 0;
            }
        }
        p{
            color: red;
            margin: 10px 0;
            font-size: $fs-1;
            cursor: pointer;
        }
    }
    .btn-submit{
       
        text-align: center;
        margin-top: 40px;

      
        p{
            margin: 10px 0;
            font-size: $fs-1;
            color: red;
           
        }
    }