.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    &__logo{

    }
    &__list{
        list-style: none;
        width: 100%;
        padding: 0;
       
        &-item{
            display: flex;
            align-items: center;
            padding: 12px 0;
            color:$color-gray-light-2;
            .icon{
                font-size:$fs-2;
                margin: 0 10px;
            }
            p{
                font: size $fs-2;;
                font-weight: 600;
            }
            &:hover{
                background-color: $background-orange-light;
                color:$color-orange;
                transition: all 0.5s linear;
            }
            &.active{
                color: white;
                background-color: $color-orange;
            }
        }
    }
    .btn-logout{
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
        button{
            display: flex;
          
            background-color:#FFF2E7;
           width: 100%;
           margin: 0 10px;
           padding:15px;
            color: $color-orange;
            border-radius:8px;
            p{
                margin: 0 10px;
            }
        }
    }
}