// COLOR TEXT
$color-secondary-dark: #1c1c1e;
$color-grey-light-1: #f8fcff;
$color-gray-light-2:#7E7D88;
$color-orange:#FF7506;


// MAIN BODY
$color-background: #EAEAEC;
$background:#f6f6f6;
$background-orange-light: #FFF2E7;
$border-radius: 0.8rem;

// FONT WEIGHT
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// FONT SIZE
$fs-0: 1.2rem;
$fs-1: 1.4rem;
$fs-2: 1.6rem;
$fs-3: 1.8rem;
$fs-4: 2rem;
$fs-5: 2.4rem;
$fs-6: 2.7rem;
$fs-7: 3.2rem;
$fs-8: 4.8rem;
//BUTTON
$btn-bg:#FF9138;


//BORDER
    $border:1.5px solid #D4D4D7;
    $border-error:1.5px solid red





